In [2]:
# Dependencies
import pandas as pd

In [1]:
csvpath1 = 'Resources/Average_Household_Size_and_Population_Density_-_County.csv'
PopDen_df = pd.read_csv(csvpath1)
PopDen_df

NameError: name 'pd' is not defined

In [6]:
csvpath2 = 'Resources/GA_county_cases.csv'
Case_df = pd.read_csv(csvpath2)
Case_df

,county_name,cases,county_id,State FIPS code,County FIPS code,population,hospitalization,deaths,case rate,death rate,14 day case rate,14 day cases,antigen_cases,probable_deaths
0,Appling,1717,US-13001,13,1,18561,142,50,9250.58,269.38,511.83,95,316,4
1,Atkinson,745,US-13003,13,3,8330,108,15,8943.58,180.07,276.11,23,204,0
2,Bacon,1002,US-13005,13,5,11404,73,25,8786.39,219.22,499.82,57,323,6
3,Baker,151,US-13007,13,7,3116,31,6,4845.96,192.55,128.37,4,57,0
4,Baldwin,3542,US-13009,13,9,44428,273,90,7972.45,202.57,535.70,238,497,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,Whitfield,13628,US-13313,13,313,104672,660,169,13019.72,161.46,728.94,763,1585,9
157,Wilcox,434,US-13315,13,315,8790,66,26,4937.43,295.79,182.03,16,300,17
158,Wilkes,611,US-13317,13,317,10014,61,15,6101.46,149.79,499.30,50,328,5
159,Wilkinson,665,US-13319,13,319,8919,108,21,7455.99,235.45,325.15,29,158,0
160,Worth,1106,US-13321,13,321,20142,155,49,5491.01,243.27,218.45,44,520,5

In [25]:
filtered_PopDen_df = PopDen_df[['State','NAME','B01001_calc_PopDensity']]
cleaned_PopDen_df = filtered_PopDen_df.rename(columns={'NAME':'County', 'B01001_calc_PopDensity':'PopulationDensity'})
cleaned_GA_df = cleaned_PopDen_df.loc[cleaned_PopDen_df['State'] == 'Georgia'][['County','PopulationDensity']]
cleaned_GA_df

        County  PopulationDensity
387    Appling          14.018288
388   Atkinson           9.311241
389      Bacon          15.260078
390      Baker           3.600683
391    Baldwin          67.588266
..         ...                ...
541  Whitfield         138.054912
542     Wilcox           9.040133
543     Wilkes           8.128280
544  Wilkinson           7.802590
545      Worth          13.974341

[159 rows x 2 columns]

In [26]:
filtered_Case_df = Case_df[['county_name', 'cases','hospitalization','deaths','case rate','death rate']]
cleaned_Case_df = filtered_Case_df.rename(columns={'county_name':'County',
                                 'cases':'Cases',
                                 'hospitalization':'Hospitalization',
                                 'deaths':'Deaths',
                                 'case rate':'Cases/100,000Population',
                                 'death rate':'Deaths/100,000Population'})
cleaned_Case_df

,County,Cases,Hospitalization,Deaths,"Cases/100,000Population","Deaths/100,000Population"
0,Appling,1717,142,50,9250.58,269.38
1,Atkinson,745,108,15,8943.58,180.07
2,Bacon,1002,73,25,8786.39,219.22
3,Baker,151,31,6,4845.96,192.55
4,Baldwin,3542,273,90,7972.45,202.57
...,...,...,...,...,...,...
156,Whitfield,13628,660,169,13019.72,161.46
157,Wilcox,434,66,26,4937.43,295.79
158,Wilkes,611,61,15,6101.46,149.79
159,Wilkinson,665,108,21,7455.99,235.45
160,Worth,1106,155,49,5491.01,243.27

In [35]:
merge_df = cleaned_Case_df.merge(cleaned_GA_df, on='County')
final_df = merge_df.set_index('County')

In [36]:
final_df.to_csv('Output/PopulationDensity.csv')